# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\学校班级文件\肖良成完整毕业设计\graduation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
